.nav-shadow {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.04);
}

.navbar {
  padding: 0.9rem 1rem;
  &.dark-theme a {
    color: #ffffff;
  }
  &.dark-theme {
    background-color: #212121;
    transition: background-color 0.6s ease;
    color: #ffffff;
  }
}
.navbtn_login {
  padding-top: 3px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #219653;
  }
}

.navbtn_signup {
  padding-top: 3px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
  }
}

.button-inverse {
  background: none;
  border: thin solid #219653;
  color: #219653;
}

.navbar-logo a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #222222;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.display-flex {
  display: flex;
}
/* ----------------- Dropdown ------------ */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-fill {
  display: none;
  font-size: 14px;
  position: absolute;
  right: -10px;
  background-color: #ffffff;
  min-width: 150px;
  z-index: 2;
  transition: ease-in 0.6s;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(216, 216, 216, 0.465);
  & a {
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #222222;
  }
  &.dark-theme a {
    transition: background-color 0.6s ease;
    color: #212121 !important;
    background: #ffffff;
  }

  &a:hover {
    background-color: #fbfbfb;
  }
}

.dropdown:hover .dropdown-fill {
  display: block;
}

.dropdown_icon {
  font-size: 16px;
  padding-right: 5px;
  position: relative;
  top: 2px;
}

.navbar-toggler > div {
  width: 25px;
  height: 4px;
  margin: 2px;
  &.dark-theme {
    background: #ffffff;
  }
  &.light-theme {
    background: #272727;
  }
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
  color: transparent;
  outline: unset;
}
button .navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
  color: transparent;
}

@media (max-width: 991px) {
  .m-all {
    margin: 15px 5px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
